@font-face {
  font-family: "iconfont"; /* Project id 4010197 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1687704605877') format('woff2'),
       url('iconfont.woff?t=1687704605877') format('woff'),
       url('iconfont.ttf?t=1687704605877') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shejimoshi:before {
  content: "\e325";
}

.icon-icon_rockets_sel:before {
  content: "\e323";
}

.icon-html:before {
  content: "\e301";
}

.icon-UIshejiwang:before {
  content: "\e326";
}

.icon-sass:before {
  content: "\e310";
}

.icon-nodejs:before {
  content: "\e307";
}

.icon-jianyanpifenxianggongchengbaoyan:before {
  content: "\e306";
}

.icon-buju:before {
  content: "\e322";
}

.icon-weixin:before {
  content: "\e319";
}

.icon-vuetifyjs:before {
  content: "\e308";
}

.icon-jichuzujian:before {
  content: "\e324";
}

.icon-mock-icon:before {
  content: "\e309";
}

.icon-biaodanpeizhi:before {
  content: "\e321";
}

.icon-Ucloud:before {
  content: "\e318";
}

.icon-route:before {
  content: "\e312";
}

.icon-nuxt:before {
  content: "\e314";
}

.icon-pinia:before {
  content: "\e313";
}

.icon-xiaochengxu:before {
  content: "\e316";
}

.icon-douyin1:before {
  content: "\e320";
}

.icon-tubiaozhizuomoban:before {
  content: "\e304";
}

.icon-Vue:before {
  content: "\e311";
}

.icon-css:before {
  content: "\e302";
}

.icon-typescript:before {
  content: "\e305";
}

.icon-Javascript-icon-02:before {
  content: "\e303";
}

.icon-folder-vuepress:before {
  content: "\e315";
}

.icon-uniapp:before {
  content: "\e317";
}

